@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Walsheim";
    src: url(./lib/assets/fonts/GTWalsheimPro.ttf) format("truetype");
}

@font-face {
    font-family: "Allura";
    src: url(./lib/assets/fonts/Allura-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Rhizome";
    src: url(./lib/assets/fonts/Rhizome-RegularTrial.otf) format("opentype");
}

@font-face {
    font-family: "Murmure";
    src: url(./lib/assets/fonts/Le_Murmure-Regular_web.otf) format("opentype");
}

@font-face {
    font-family: "Overdrive Sunset";
    src: url(./lib/assets/fonts/Overdrive_Sunset.otf) format("opentype");
}

.heading-font {
    font-family: "Walsheim";
}

.regular-font {
    font-family: "Rhizome";
}

.brand-font {
    font-family: "Murmure";
}

.style-font {
    font-family: "Overdrive Sunset";
}

.spotlight {
    opacity: .5;
    background-image: conic-gradient(from 0deg at 50% -5%, transparent 45%, rgba(225, 182, 255, .2) 49%, rgba(225, 182, 255, .4) 50%, rgba(225, 182, 255, .2) 51%, transparent 55%);
    border-radius: 9999px;
    filter: blur(15px);
    pointer-events: none;
    transform-origin: 50% 0;
}

.svg-circle {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.svg-circle-path {
    fill: none;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );*/
}

.linkedin {
    background-image: linear-gradient(
            45deg,
            hsl(0deg 0% 100%) 0%,
            hsl(201deg 63% 91%) 11%,
            hsl(201deg 62% 83%) 22%,
            hsl(201deg 61% 75%) 33%,
            hsl(201deg 60% 68%) 44%,
            hsl(201deg 59% 61%) 56%,
            hsl(201deg 58% 54%) 67%,
            hsl(201deg 64% 47%) 78%,
            hsl(201deg 80% 41%) 89%,
            hsl(201deg 100% 35%) 100%
    );
}

.youtube {
    background-image: linear-gradient(
            45deg,
            hsl(0deg 0% 100%) -1%,
            hsl(357deg 100% 97%) 0%,
            hsl(357deg 100% 94%) 4%,
            hsl(357deg 100% 92%) 8%,
            hsl(357deg 100% 89%) 13%,
            hsl(357deg 100% 86%) 18%,
            hsl(357deg 100% 83%) 24%,
            hsl(357deg 100% 81%) 30%,
            hsl(357deg 100% 78%) 36%,
            hsl(357deg 100% 75%) 42%,
            hsl(357deg 100% 72%) 49%,
            hsl(357deg 100% 69%) 55%,
            hsl(357deg 100% 67%) 62%,
            hsl(357deg 100% 64%) 70%,
            hsl(357deg 100% 61%) 77%,
            hsl(357deg 100% 58%) 84%,
            hsl(357deg 100% 56%) 92%,
            hsl(357deg 100% 53%) 100%
    );
}