@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Walsheim";
    src: url(./lib/assets/fonts/GTWalsheimPro.ttf) format("truetype");
}

@font-face {
    font-family: "Allura";
    src: url(./lib/assets/fonts/Allura-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Rhizome";
    src: url(./lib/assets/fonts/Rhizome-RegularTrial.otf) format("opentype");
}

@font-face {
    font-family: "Murmure";
    src: url(./lib/assets/fonts/Le_Murmure-Regular_web.otf) format("opentype");
}

@font-face {
    font-family: "Overdrive Sunset";
    src: url(./lib/assets/fonts/Overdrive_Sunset.otf) format("opentype");
}

.heading-font {
    font-family: "Walsheim";
}

.regular-font {
    font-family: "Rhizome";
}

.brand-font {
    font-family: "Murmure";
}

.style-font {
    font-family: "Overdrive Sunset";
}

.spotlight {
    opacity: .5;
    background-image: conic-gradient(from 0deg at 50% -5%,transparent 45%,rgba(225,182,255,.2) 49%,rgba(225,182,255,.4) 50%,rgba(225,182,255,.2) 51%,transparent 55%);
    border-radius: 9999px;
    filter: blur(15px);
    pointer-events: none;
    transform-origin: 50% 0;
}

